#pages {
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 100px;
}

#pages .title {
	display: flex;
	align-items: center;
}

#pages .title h1 {
	flex-grow: 1;
}

#pages .title span {
	flex-shrink: 0;
}

#pages table {
	width: 100%;
}

#pages table tr {
	padding-top: 20px;
	padding-bottom: 20px;
}

#pages table tr:nth-child(even) {
	background-color: #fafafa;
}

#pages table tr td:first-child, #pages table tr .edit-button, #pages table tr .delete-button {
	width: 10px;
}

#pages table td input[type=checkbox] {
	margin: .8rem .95rem;
}